# ==============================================
# Build and Production Outputs
# ==============================================
/dist
build
tmp

# ==============================================
# Testing Outputs
# ==============================================
/coverage
test-ledger

# ==============================================
# Dependency Directories
# ==============================================
node_modules

# ==============================================
# Cache Directories
# ==============================================
/.nx/cache

# ==============================================
# Project Specific
# ==============================================
.anchor
target